.honeypot-field {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties */
:root {
  --ff-primary: 'Nunito', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  --fw-reg: 400;
  --fw-med: 600;
  --fw-heavy: 800;

  --clr-white: #fdf2e8;
  --clr-cream: #ffeddf;
  --clr-black: #3c3c3c;
  --clr-pink-primary: #f2bdc7;
  --clr-pink-secondary: #f3c7c1;
  --clr-brown-primary: #b49481;
  --clr-brown-secondary: #9b806b;
  --clr-tan: #f5cea3;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* general styles */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-cream);
  color: var(--clr-black);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.4;
}
section {
  padding: 6em 5.25em;
}
img {
  display: block;
  max-width: 100%;
}
strong { font-weight: var(--fw-heavy) }

/* typography */
h1,
h2,
h3 {
  font-family: var(--ff-primary);
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

p {
  font-size: var(-ff-body);
  font-family: var(--ff-secondary); 
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--landing {
  font-weight: var(--fw-heavy);
  line-height: 3.7rem;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--landing,
.section__subtitle--overview {
  font-family: var(--ff-secondary);
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 999;
}

.logo {
  float: left;
  margin: 0.5em 0.5em;
}

.nav { 
  float: right;
  justify-content: space-evenly;
  padding: 0.5em 1em;
  transition: 0.3s;
  font-size: 1.25rem;
  font-weight: var(--fw-med);
}
.nav a {
  color: var(--clr-white);
  text-decoration: none;
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  padding: 0em 1em;
}

@media (max-width: 600px) {
  .logo {
    width: 50px !important;
  }
  .nav {
    font-size: 1rem;
  }
}


/* landing */
.landing {
  height: 100vh;
  padding-top: 8em;
  background-color: var(--clr-pink-primary);
  color: var(--clr-cream);
  position: relative;
}
.landing img {
  padding: 1rem;
}
@media (max-width: 800px) {
  .section__subtitle--landing {
    font-size: 1.1rem;
  }
  .landing {
    padding-top: 5em;
  }
  .landing__img {
    grid-area: img;
    max-height: 300px;
  }
}

@media (min-width: 600px) {
  .landing {
    padding-top: 8em;
  }
}

@media (min-width: 800px) {
  .section__subtitle--landing {
    text-align: right;
  }
  .landing {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "img ."
      "img title"
      "img subtitle";
    grid-template-columns: min-content auto;
    text-align: right;
  }
  .landing__img {
    grid-area: img;
    min-width: 350px;
  }
}

/* overview */
.overview {
  background-color: var(--clr-pink-secondary);
}

.section__title--overview {
  margin-bottom: 0.2em;
  position: relative;
}

.section__subtitle--overview {
  margin-bottom: 3em;
}

.benefit {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 600px) {
  .benefits {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  .benefit + .benefit {
    margin-left: 2em;
  }
}

@media (max-width: 600px) {
  .benefit + .benefit {
    margin-top: 3em;
  }
}

/* faq */
.faq {
  background-color: var(--clr-cream);
}

.faq a {
  color: inherit;
  text-decoration-color: var(--clr-brown-primary);
}

.faq a:hover {
  text-decoration: none;
}

.faq ul {
  font-family: var(--ff-secondary);
}

.faq h3 {
  margin-top: 2rem;
}

/* contact */
.section__title--contact {
  font-family: var(--ff-primary);
}
.section__subtitle--contact {
  margin-bottom: 2em;
}
.contact {
  background-color: var(--clr-brown-primary);
  color: var(--clr-white);
  font-family: var(--ff-secondary);
}
.contact a {
  color: inherit;
  text-decoration-color: var(--clr-pink-primary);
}
.contact a:hover {
  text-decoration: none;
}

fieldset {
  border: 0px;
  padding-left: 0em;
  padding-bottom: 2em;
}
label > input[type="text"], label > input[type="email"] {
  width: 300px;
  color: var(--clr-white);
  background-color: var(--clr-brown-primary);
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
  box-sizing: border-box;
}
textarea {
  width: 500px;
  color: var(--clr-white);
  background: none;
  font: var(--ff-secondary);
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
  box-sizing: border-box;
  vertical-align: top;
}
::placeholder {
  color: var(--clr-cream);
}

label > input:focus, textarea:focus {
  outline: none;
  border-color: var(--clr-white);
}

label > input[type="checkbox"] + * {
  display: block;
  margin-top: 0.4em;
}

@media (min-width: 600px) {
  label > input[type="checkbox"] + * {
    display: inline-block;
    margin-right: 2em;
  }
}

label > input[type="checkbox"] {
  display: none;
}
label > input[type="checkbox"] + *::before {
  box-sizing: content-box;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin-right: 0.75rem;
  margin-bottom: 0.2rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
}
label > input[type="checkbox"]:checked + * {
  color: var(--clr-white);
}
label > input[type="checkbox"]:checked + *::before {
  content: "X";
  text-align: center;
  color: var(--clr-white);
}
label:hover {
  cursor: pointer;
}

button {
  background-color: var(--clr-brown-primary);
  color: var(--clr-white);
  font: var(--ff-secondary);
  margin-top: 2em;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  transition: all 0.25s ease;
}
button:hover {
  cursor: pointer;
  background-color: var(--clr-white);
  border-color: var(--clr-white);
  color: var(--clr-brown-secondary);
}
button:focus {
  outline: none;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: var(--clr-tan);
  padding: 3em 2em 2em 2em;
}

footer a { color: inherit; }

.copyright {
  float: none;
}

.social-media-list {
  list-style: none;
  float: none;
  display: flex;
  padding: 0;
  font-size: var(--fs-h3);
}

.social-media-list__item {
  margin: 0 0.1em;
}

.social-media-list__link {
  padding: 0.25em;
}

.fb-share-button {
  vertical-align: bottom;
}
.fb-share-button:hover {
  mix-blend-mode: screen;
}

.twitter-share-button {
  vertical-align: bottom;
}
.twitter-share-button:hover {
  mix-blend-mode: screen;
}
