.honeypot-field {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties */
:root {
  --ff-primary: 'Nunito', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  --fw-reg: 400;
  --fw-med: 600;
  --fw-heavy: 800;

  --clr-white: #fcf2e9;
  --clr-cream: #faefd9;
  --clr-gray: #6d6d6d;
  --clr-black: #3c3c3c;
  --clr-pink-primary: #f0b4bf;
  --clr-pink-secondary: #f3c7c1;
  --clr-pink-tertiary: #f1bdb9;
  --clr-brown-primary: #b49481;
  --clr-brown-secondary: #9b806b;
  --clr-tan: #f5cea3;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.3rem;
    --fs-body: 1.125rem;
  }
}

/* general styles */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-cream);
  color: var(--clr-black);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.4;
}

section {
  padding: 1em 2.5em;
}
@media (min-width: 600px) {
  section {
    padding: 4em 5.25em;
  }
}

img {
  display: block;
  max-width: 100%;
}
strong { font-weight: var(--fw-heavy) }

/* typography */
h1,
h2,
h3 {
  font-family: var(--ff-primary);
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

p {
  font-size: var(-ff-body);
  font-family: var(--ff-secondary); 
}
p2 {
  font-size: var(-ff-body) - 0.25rem;
  color: var(--clr-gray);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--landing,
.section__subtitle--overview {
  font-family: var(--ff-secondary);
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 100;
}

.logo {
  float: left;
  margin: 0.5em 0.5em;
}

#lottie {
  width: 100px;
}
#lottie:hover {
  cursor: pointer;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 500;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
  background: var(--clr-white);
  width: 1.5em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 7px; }
.hamburger::after { bottom: 7px; }

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .logo {
    width: 50px !important;
    margin: 0em;
  }
  .nav {
    position: fixed;
    background-color: var(--clr-cream);
    color: var(--clr-black);
    font-size: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .nav__list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    color: inherit;
    font-weight: var(--fw-med);
    font-size: var(--fs-h3);
    text-decoration: none;
  }

  .nav__link:hover {
    color: var(--clr-brown-primary)
  }
}

.nav-open .nav {
  transform: translateX(0);
}
.nav-open .hamburger, .nav-open .hamburger::before, .nav-open .hamburger::after {
  background: var(--clr-black);
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translate(-7px);
}
.nav-open .hamburger::after {
  opacity: 0;
}

@media (min-width: 600px){
  .nav { 
    float: right;
    justify-content: space-evenly;
    padding: 0.5em 0.75em;
    transition: 0.3s;
    font-size: 1.25rem;
    font-weight: var(--fw-med);
  }
  .nav a {
    color: var(--clr-white);
    text-decoration: none;
    padding: 0.25em;
  }

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .nav__item {
    padding: 0.25em 0.75em;
    transition: 0.2s;
  }
  .nav__item:hover {
    transform: translateY(-0.25em);
    transition: 0.2s;
  }
  header button {
    display: none;
  }
}

/* landing */
.landing {
  background-color: var(--clr-pink-primary);
  color: var(--clr-cream);
  padding-top: 6em;
  width: 100vw;
}
.section__title--landing {
  font-weight: var(--fw-heavy);
  line-height: 2.8rem;
}
.section__subtitle--landing {
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.landing img {
  grid-area: image;
  max-height: 50vh;
  max-width: 50vw;
}
.landing__text {
  grid-area: text;
  align-self: end;
  justify-self: end;
  max-height: 50vh;
  max-width: 50vw;
}
.supersection__landing {
  background-color: var(--clr-pink-secondary);
}
.supersection__landing svg {
  grid-area: svg;
  max-height: 20vh;
}
.supersection__landing rect {
  fill: var(--clr-pink-secondary);
}
.supersection__landing path {
  fill: var(--clr-pink-primary);
}

/* Nav links hidden in hamburger menu */
@media (max-width: 600px) {
  .section__title--landing {
    font-size: 4em;
    line-height: 3.2rem;
  }
  .section__subtitle--landing {
    font-size: 1.1rem;
  }
  .landing {
    padding: 6em 6em 2em 6em;
    display: grid;
    grid-template-areas:
    "text"
    "image"
    "svg";
    align-items: center;
    justify-content: center;
  }
  .landing__text {
    max-width: 100vw;
  }
  .landing img  {
    max-width: 60vw;
  }
}

/* Nav links visible */
@media (min-width: 600px) {
  .section__title--landing {
    font-size: 4em;
    line-height: 3.2rem;
  }

  .landing {
    display: grid;
    grid-template-areas:
    "image . text"
    "svg svg svg";
    justify-content: center;
    grid-template-columns: auto 4em 40%;
    /* grid-template-rows: 80% 10%; */
  }
}

@media (min-width: 800px) {
  .section__title--landing {
    line-height: 3.8rem;
  }
}

/* overview */
.overview {
  background-color: var(--clr-pink-secondary);
}
.section__title--overview {
  margin-bottom: 0.2em;
  position: relative;
}
.section__subtitle--overview {
  margin-bottom: 3em;
}
.supersection__overview {
  background-color: var(--clr-pink-tertiary);
}
.supersection__overview svg {
  grid-area: svg;
  width: 100vw;
  max-height: 20vh;
}
.supersection__overview rect {
  fill: var(--clr-pink-tertiary);
}
.supersection__overview path {
  fill: var(--clr-pink-secondary);
}

.benefit {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}

@media (min-width: 600px) {
  .benefits {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  .benefit + .benefit {
    margin-left: 2em;
  }
  .benefit {
      width: 33.33%; 
  }
  @keyframes sequential { 
    100% { opacity: 1; }
  }
  .benefit {
    animation: sequential .5s forwards;
  }
  .benefit:nth-child(1) {
    animation-delay: .5s;
  }
  .benefit:nth-child(2) {
    animation-delay: 1s;
  }
  .benefit:nth-child(3) {
    animation-delay: 1.5s;
  }
}

@media (max-width: 600px) {
  .benefit + .benefit {
    margin-top: 3em;
  }
  .benefits {
    padding-bottom: 2em;
  }
}

/* faq */
.faq {
  background-color: var(--clr-pink-tertiary);
}
.faq a {
  color: inherit;
  text-decoration-color: var(--clr-brown-primary);
}
.faq a:hover {
  text-decoration: none;
}
.faq ul {
  font-family: var(--ff-secondary);
}
.faq h3 {
  margin-top: 2rem;
}
.supersection__faq {
  background-color: var(--clr-brown-primary);
}
.supersection__faq svg {
  grid-area: svg;
  width: 100vw;
  max-height: 20vh;
}
.supersection__faq rect {
  fill: var(--clr-brown-primary);
}
.supersection__faq path {
  fill: var(--clr-pink-tertiary);
  stroke: var(--clr-pink-tertiary);
  stroke-width: 1px;
}

/* contact */
.section__title--contact {
  font-family: var(--ff-primary);
}
.section__subtitle--contact {
  margin-bottom: 2em;
}
.contact {
  background-color: var(--clr-brown-primary);
  color: var(--clr-white);
  font-family: var(--ff-secondary);
}
.contact a {
  color: inherit;
  text-decoration-color: var(--clr-pink-primary);
}
.contact a:hover {
  text-decoration: none;
}
.supersection__contact {
  background-color: var(--clr-tan);
}
.supersection__contact svg {
  grid-area: svg;
  max-height: 20vh;
}
.supersection__contact rect {
  fill: var(--clr-tan);
}
.supersection__contact path {
  fill: var(--clr-brown-primary);
}

.contact fieldset {
  border: 0px;
  padding-left: 0em;
  padding-bottom: 2em;
}
.contact label > input[type="text"], label > input[type="email"] {
  width: 200px;
  color: var(--clr-white);
  background-color: var(--clr-brown-primary);
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
  box-sizing: border-box;
}
.contact textarea {
  width: 300px;
  color: var(--clr-white);
  background: none;
  font: var(--ff-secondary);
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
  box-sizing: border-box;
  vertical-align: top;
}
.contact ::placeholder {
  color: var(--clr-cream);
}

.contact label > input:focus, textarea:focus {
  outline: none;
  border-color: var(--clr-white);
}

.contact label > input[type="checkbox"] + * {
  display: block;
  margin-top: 0.4em;
}

@media (min-width: 600px) {
  .contact textarea {
    width: 500px;
  }
  .contact label > input[type="text"], label > input[type="email"] {
    width: 300px;
  }
  .contact label > input[type="checkbox"] + * {
    display: inline-block;
    margin-right: 2em;
  }
}

.contact label > input[type="checkbox"] {
  display: none;
}
.contact label > input[type="checkbox"] + *::before {
  box-sizing: content-box;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin-right: 0.75rem;
  margin-bottom: 0.2rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--clr-brown-secondary);
}
.contact label > input[type="checkbox"]:checked + * {
  color: var(--clr-white);
}
.contact label > input[type="checkbox"]:checked + *::before {
  content: "X";
  text-align: center;
  color: var(--clr-white);
}
.contact label:hover {
  cursor: pointer;
}
.contact button {
  margin-top: 2em;
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.contact button[type="submit"] {
  padding: 8px 16px;
  background-color: var(--clr-brown-primary);
  color: var(--clr-white);
  font: var(--ff-secondary);
}
.contact button:hover[type="submit"] {
  cursor: pointer;
  background-color: var(--clr-white);
  border-color: var(--clr-white);
  color: var(--clr-brown-secondary);
  margin-left: 0.5em;
  animation-name: slidein;
}
.slidein {
  animation-duration: 0.3s;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
.contact button[type="button"] {
  padding: 9px 12px;
  background-color: var(--clr-white);
  border-color: var(--clr-white);
  color: var(--clr-brown-secondary);
  display: none;
}
.success__message {
  margin-left: 1em;
  display: none;
}

.contact button:focus[type="submit"] {
  /* outline: none; */
}
.contact button:focus[type="button"] {
  outline: none;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: var(--clr-tan);
  padding: 1em 2em 2.5em 2em;
}

footer a { color: inherit; }

.copyright {
  float: none;
}

.social-media-list {
  list-style: none;
  float: none;
  display: flex;
  padding: 0;
  font-size: var(--fs-h3);
}

.social-media-list__item {
  margin: 0 0.1em;
}

.social-media-list__link {
  padding: 0.25em;
}

.fb-share-button {
  vertical-align: bottom;
}
.fb-share-button:hover {
  mix-blend-mode: screen;
}

.twitter-share-button {
  vertical-align: bottom;
}
.twitter-share-button:hover {
  mix-blend-mode: screen;
}
